.block{
    text-align: center;
    padding: 0px 117px;
}

.list{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.list_block{
    width: 264px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1) ;
    border: 0 solid #2B4241;
    border-radius: 40px;
    background: #FFFFFF;
    color:  #000000;
}

h4{
    font-size: 20px;
    color: #254F4C;
}

.btn{
    width: 200px;
    height: 48px;
    font-style: normal;
    font-size: 14px;
    box-sizing: border-box;
    border: 1px solid #FF583E;
    border-radius: 40px;
    background: white;
    color: #FF583E;
}

span{
    color: #FF583E;
}

.input_one{
    border: none;
    text-align: center;
    background-color: #ffffff;
    color: #1D3130;

}
 .amount{
     padding: 0px 0px 10px 0px;
     width: 32px;
     height: 16px;
     font-weight: 400;
     font-size: 15px;
 }